main {
  height: 500px;
  width: 500px;
}

div {
  display: inline-block;
  width: 33%;
  height: 33%;
}


/* Function 3 */
div.seven {
  transition: width 2s, height 2s;
}

.seven:hover {
  display: flex;
  width: 50%;
  height: 50%;
}


/* Function 5 */
@keyframes animationFunction5 {
  from {
      background-color: gold
  }
  to {
      background-color: green
  }
}

.five {
  transition: 3s all;
}